h1 {
    font-size: 75px;
    text-align: center;
}

body {
    font-family:cursive;
    background: url(../img/1667340891_6-celes-club-p-belii-fon-s-tochkami-krasivo-6.jpg)
}

.card {
    width:1760px;
    margin: 40px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 10px 10px 30px;
    border-radius: 25px;
    text-align: center;
}

.card-photo {
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 50%;
}

.card-title {
    color: red;
    font-size: 20px;
    text-align: center;
}









